/*

    TO Import this time add this to your custom CSS in Server > Options > Theme > Custom CSS
    ! USE THEME TYPE DARK !
    @import url("https://twentye1ght.github.io/ACSM-Frosted-Glass/main.css");

*/
/*
.bg-primary, .btn-primary, .badge-primary, .dropdown-item:hover, .dropdown-item:focus {
    border-color: var(--border-color) !important;
    background: #fff2 !important;
    backdrop-filter: blur(2em);
}

.navbar.bg-primary, .border-primary, .badge-primary-border {
    border-color: var(--border-color) !important;
}

.text-primary, a:not(.btn):not(.nav-link):not(.navbar-brand):not(.dropdown-item):not(.text-white):not(.text-danger):not(.fc-event):not(.page-link), .nav-pills a:not(.active), .driver-link:hover, .row-link:hover {
    color: var(--border-color) !important;
}

.dropdown-item:active, .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--border-color) !important;
}

#event-title:hover {
    color: var(--border-color) !important;
}

.sidebar .nav-pills .nav-link.active {
    color: #fff;
}
*/

:root {
    --base-color: rgb(243, 181, 255);
    --base-overlay: rgba(255, 255, 255, 0.1);
    --border-color: rgba(255, 255, 255, 0.2);
}


/* Navbar */
.navbar.bg-primary {
    background-color: var(--base-overlay) !important;
    backdrop-filter: blur(16px) !important;
}

/* Buttons */
.btn-primary .badge-primary {
    background-color: var(--base-color) !important;
    border: 1px solid var(--border-color) !important;
}