@import url("https://twentye1ght.github.io/ACSM-Frosted-Glass/main/main.css");
@import url("https://twentye1ght.github.io/ACSM-Frosted-Glass/main/fg-buttons.css"); /* Remove this line if you want to revert to the old buttons. */

:root {
    /* Variables */
    --primary-color: 163,104,230;
    --overlay-color: 255, 255, 255;
    --overlay-opacity: 0.1;
    --blur: 2em;
    --border-thickness: 1px;
    --icon-color: 173,127,218;
    --dropdown-bg-opacity: 0.2;

    /* Background Variables*/
    --bg-img: url("https://twentye1ght.github.io/ACSM-Frosted-Glass/main/default-bg.jpg");
    --bg-blur: 8px;
    --bg-brightness: 0.4;
}