:root {
    /* User Variables */
    --primary-color: 163, 104, 230;
    --overlay-color: 255, 255, 255;
    --overlay-opacity: 0.1;
    --blur: 2em;
    --border-thickness: 1px;
    --icon-color: 173, 127, 218;
    --dropdown-bg-opacity: 0.2;
    --animation-speed: 0.2s;

    /* Background Variables*/
    --bg-img: url("https://twentye1ght.github.io/ACSM-Frosted-Glass/main/default-bg.jpg");
    --bg-blur: 8px;
    --bg-brightness: 0.4;

    /* Variables */
    --base-color: rgb(var(--primary-color));
    --base-overlay: rgba(var(--overlay-color), var(--overlay-opacity));
    --base-blur: var(--blur);
    --base-border: var(--border-thickness) solid var(--border-color);
    --border-color: rgba(var(--overlay-color), var(--overlay-opacity));
    --border-radius: 12px;
    --card-icon: rgb(var(--icon-color));
    --dropdown-bg-color: rgba(var(--overlay-color), var(--dropdown-bg-opacity));
    --text-color: #eeeeee;
}

/* Body */
body {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-img);
    filter: blur(var(--bg-blur)) brightness(var(--bg-brightness));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-weight: bold;
}

code {
    background-color: var(--base-overlay);
    border: var(--base-border);
}

/* Navbar */
.navbar.bg-primary {
    background-color: var(--base-overlay) !important;
    backdrop-filter: blur(var(--base-blur)) !important;
    border: none;
    border-bottom: var(--base-border) !important;
}

.badge {
    position: relative;
    bottom: 2px;
}

.navbar-dark .navbar-nav .nav-link {
    transition: all var(--animation-speed) ease;
}

/* Container */
body > .container {
    margin: 128px auto 64px;
    border: var(--base-border);
    border-radius: var(--border-radius);
}

body > .container, body > .container-fluid {
    position: relative;
    padding: 1.25rem;
    background-color: var(--base-overlay) !important;
}

body > .container::before, body > .container-fluid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--base-blur));
    z-index: -1;
}

body > .container::before {
    border-radius: var(--border-radius);
}


body > .container-fluid {
    min-height: 100vh;
    margin: 0 !important;
    padding-top: 128px !important;
    border: none;
    border-radius: 0 !important;
}

/* Page Buttons */
.page-link, .page-item.disabled .page-link {
    color: var(--text-color);
    background-color: rgba(var(--primary-color), 0.8);
    border: var(--base-border) !important;
    transition: background-color var(--animation-speed) ease, filter var(--animation-speed) ease;
}

.page-link:hover {
    background-color: rgba(var(--primary-color), 1);
    filter: brightness(1.2);
}

/* Sidebar */
.sidebar {
    background-color: var(--base-overlay) !important;
    border: none !important;
}

.sidebar-sticky {
    top: 60px;
}

.sidebar .nav-pills .nav-link {
    background-color: transparent;
    color: var(--text-color);
    border-radius: var(--border-radius);
    transition: background-color var(--animation-speed) ease, color var(--animation-speed) ease;
}

.sidebar .nav-pills .nav-link.active {
    color: var(--text-color);
    background-color: var(--base-color);
}

/* Modal */
.modal-content {
    background-color: var(--base-overlay);
    border: var(--base-border);
    border-radius: var(--border-radius) !important;
    backdrop-filter: blur(var(--base-blur));
}

.img-map-preview {
    background-color: var(--base-overlay);
    border: var(--base-border);
    border-radius: var(--border-radius) !important;
    max-height: 400px;
    padding: 8px;
}

/* Navigation */
.nav-tabs {
    border-color: var(--border-color) !important;
}

.nav-tabs .nav-link {
    color: var(--text-color);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: var(--base-overlay);
    border-color: var(--border-color);
}

.nav-tabs .nav-link, .nav-tabs .nav-link.disabled, .nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
    border-color: var(--border-color) !important;
}

/* Dropdown */
.dropdown-menu {
    position: relative;
    padding: 0;
    background: var(--dropdown-bg-color) !important;
    border: var(--base-border) !important;
    border-radius: var(--border-radius) !important;
    overflow: hidden;
    z-index: 1050;

    /* Doesn't work but is required */
    backdrop-filter: blur(var(--base-blur));
    -webkit-backdrop-filter: blur(var(--base-blur));
}

.dropdown-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dropdown-bg-color) !important;
    z-index: -1;
    border-radius: inherit;
}

.dropdown-menu::before {
    content: "";
    position: fixed;
    top: calc(-10 * var(--base-blur));
    left: calc(-10 * var(--base-blur));
    right: calc(-10 * var(--base-blur));
    bottom: calc(-10 * var(--base-blur));
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(var(--base-blur)) brightness(var(--bg-brightness));
    z-index: -2;
}

.dropdown-item {
    position: relative;
    z-index: 2;
    padding: 8px 16px;
    transition: all var(--animation-speed) ease;
}

.dropdown-item:first-child {
    padding-top: 16px;
}

.dropdown-item:last-child {
    padding-bottom: 16px;
}

.dropdown-item:hover, .dropdown-item:focus {
    border: none !important;
}

.dropdown-divider {
    border-color: var(--border-color);
}

.dropdown:not(.btn-group) > .dropdown-menu {
    animation: slideUp var(--animation-speed) ease-out forwards;
    overflow: hidden;
}

.dropdown.show:not(.btn-group) > .dropdown-menu {
    animation: slideDown var(--animation-speed) ease-in forwards;
}

.multiserver-dropdown .multiserver {
    margin: 0;
    border: none;
    transition: background-color var(--animation-speed) ease, filter var(--animation-speed) ease;
}

.multiserver-dropdown .multiserver:hover {
    background-color: rgba(var(--base-overlay));
    filter: brightness(1.2);
}

/* fallback */
@supports not (backdrop-filter: blur(1px)) {
    .dropdown-menu {
        background: rgba(40, 40, 40, 0.95) !important;
    }

    .dropdown-menu::before {
        opacity: 0.6;
    }
}

/* Cards */
.card {
    background-color: var(--base-overlay) !important;
    border: var(--base-border);
    border-radius: var(--border-radius) !important;
}

.card-header:first-child {
    background-color: var(--base-overlay);
    border: none !important;
    border-top-left-radius: var(--border-radius) !important;
    border-top-right-radius: var(--border-radius) !important;
}

.card-footer:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.card-footer {
    background-color: transparent;
    border-top: var(--base-border);
}

.card img {
    border: var(--base-border);
    border-radius: var(--border-radius) !important;
}

.border-primary {
    border-color: var(--base-color);
}

a.card.card--home {
    transition: all var(--animation-speed) ease;
}

a.card.card--home:hover {
    background-color: rgba(var(--overlay-color), calc(var(--overlay-opacity) + 0.1)) !important;
    filter: brightness(1.2);
}

.card-img {
    background-color: var(--base-overlay);
    border: var(--base-border);
    border-radius: var(--border-radius);
}

.card-car h3, .card-track h3 {
    color: var(--base-color);
}

.car-wrapper:hover h3, .track-wrapper:hover h3 {
    color: var(--base-color);
}

.car-wrapper:hover img, .track-wrapper:hover img, .car-wrapper:hover h3, .track-wrapper:hover h3,
.car-wrapper:hover .badge, .track-wrapper:hover .badge {
    filter: brightness(1.2);
}

.card-car h3, .card-track h3, .car-wrapper img, .track-wrapper img, .car-wrapper .badge, .track-wrapper .badge {
    transition: all var(--animation-speed) ease;
}

.card-footer:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.card-footer {
    background-color: transparent;
    border-top: var(--base-border);
}

/* Lists */
.list-group-item, .list-group-item:hover {
    background: transparent;
    border-color: var(--border-color);
}

/* Table */
.table, .table-secondary, .table-secondary > th, .table-secondary > td {
    background-color: var(--base-overlay);
    border: var(--base-border);
}

.table-secondary {
    color: var(--text-color);
}

.table thead th {
    background-color: var(--base-overlay);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--base-overlay);
}

.table-bordered th, .table-bordered td {
    border: var(--base-border);
}

/* Buttons */
.bg-primary, .btn-primary, .badge-primary, .dropdown-item:hover, .dropdown-item:focus {
    background-color: var(--base-color);
    border: var(--base-border);
}

.driver-link:hover, .row-link:hover, a:not(.btn):not(.nav-link):not(.navbar-brand):not(.dropdown-item):not(.text-white):not(.text-danger):not(.fc-event):not(.page-link) {
    color: var(--card-icon) !important;
}

.scroll-bottom {
    background-color: var(--base-overlay) !important;
    border: var(--base-border);
    border-radius: var(--border-radius) !important;
    backdrop-filter: blur(var(--base-blur));
}

/* Input fields */
.form-control, .ms-selectable, .ms-selection,
.select2-selection, .select2-dropdown, .select2-dropdown input.select2-search__field {
    background-color: var(--base-overlay) !important;
    border: var(--base-border);
    border-radius: var(--border-radius);
    box-shadow: none !important;
}

.ms-container *:not(.ms-hover):not(span):not(.bg-mod):not(.bg-dlc) {
    background-color: var(--base-overlay) !important;
    border-radius: var(--border-radius);
}
.ms-selection .ms-list {
    border-radius: var(--border-radius);
    border-width: 2px;
}

.ms-elem-selectable *:not(.ms-hover):not(span):not(.bg-mod):not(.bg-dlc) {
    background-color: transparent !important;
}

.ms-list > li {
    border: var(--base-border) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    background-color: rgba(var(--primary-color), calc(var(--overlay-opacity) + 0.2)) !important;
}

.select2-container--bootstrap4 .select2-dropdown {
    background-color: var(--base-overlay) !important;
    border: var(--base-border);
    backdrop-filter: blur(var(--base-blur));
    transition: all var(--animation-speed) ease;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"],
.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected="true"] {
    background-color: var(--base-overlay) !important;
}

.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected="true"] {
    color: var(--text-color) !important;
    background-color: rgba(var(--overlay-color), calc(var(--overlay-opacity) + 0.1)) !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    border: none;
}

.select2-container--bootstrap4:not(.select2-container--open) .select2-selection {
    border: var(--base-border);
}

.select2-container--bootstrap4 .select2-selection {
    border-color: rgba(var(--overlay-color), calc(var(--overlay-opacity) + 0.1)) !important;
}

.select2-container--open .select2-selection {
    background-color: var(--base-overlay) !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.select2-container--bootstrap4 .select2-results__option {
    transition: background-color var(--animation-speed) ease;
}

.select2-container--bootstrap4 .select2-dropdown {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.select2-container--bootstrap4.select2-container--open .select2-dropdown {
    animation: slideDown calc(var(--animation-speed) * 2) forwards ease-out;
}

.select2-container--bootstrap4:not(.select2-container--open) .select2-dropdown {
    animation: slideUp calc(var(--animation-speed) * 2) forwards ease-in;
}

select option {
    background-color: #444 !important;
    color: white !important;
}

select.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--base-color);
}

.input-group-text {
    background-color: var(--base-overlay);
    border: var(--base-border);
    border-radius: var(--border-radius);
}

.custom-file-label {
    background-color: var(--base-overlay);
    border: var(--base-border);
    border-radius: var(--border-radius);
}

.custom-file-label::after {
    background-color: var(--base-overlay);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    color: var(--text-color) !important;
}

.custom-control-label::before {
    background-color: var(--base-overlay);
    border: var(--base-border);
    transition: all var(--animation-speed) ease;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: var(--base-color) !important;
    border: var(--base-color) !important;
    filter: brightness(1.2) !important;
}

.custom-switch .custom-control-label::after {
    background-color: var(--base-overlay);
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--base-color);
    border-color: var(--base-color);
}

/* Note Editor */
.note-editor.note-frame, .note-editor.note-airframe {
    background-color: var(--base-overlay);
    border: var(--base-border);
    border-radius: var(--border-radius);
}

.note-toolbar {
    background-color: var(--base-overlay);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.note-toolbar.card-header {
    border-color: var(--border-color);
}

.note-editor.note-frame .note-editing-area .note-editable,
.note-editor.note-airframe .note-editing-area .note-editable {
    background-color: transparent;
    color: var(--text-color);
}

.note-editor.note-frame .note-statusbar .note-resizebar, .note-editor.note-airframe .note-statusbar .note-resizebar {
    background-color: var(--base-overlay);
    border: none !important;
    padding: 0;
}

.note-popover .popover-content .note-dropdown-menu.note-check a i, .note-toolbar .note-dropdown-menu.note-check a i {
    color: var(--text-color) !important;
    visibility: unset;
}

.note-toolbar .note-btn {
    background: var(--base-overlay);
    border: var(--base-border);
    color: var(--text-color);
    font-weight: 500;
}

.note-icon-menu-check::before {
    display: none;
}

.note-editor.note-frame .note-statusbar {
    background-color: var(--base-overlay);
    border: none !important;
}

.note-editor.note-frame .note-status-output, .note-editor.note-airframe .note-status-output {
    border: var(--base-border) !important;
}

/* Cookies */
.cookie-banner {
    background-color: var(--base-overlay);
    border: var(--base-border);
    border-radius: var(--border-radius);
    backdrop-filter: blur(var(--base-blur));
    color: var(--text-color);
}

/* Random borders */
hr, .border-left {
    border-color: var(--border-color) !important;
}

/* Badges */
span.badge.badge-primary {
    border-radius: var(--border-radius);
}

span.search-bool-toggle.cursor-pointer.badge.badge-pill.ml-1.badge-primary-border {
    background-color: var(--base-overlay);
    border: var(--base-border);
}

/* Other */
pre {
    background-color: var(--base-overlay);
    border: var(--base-border);
    border-radius: var(--border-radius);
    padding: 16px;
}

/* Race control */
.text-center.pl-5.pr-5 {
    margin-top: 0 !important;
}

#event-title {
    font-weight: bold;
}

#map-col {
    background-color: var(--base-overlay);
    border: var(--base-border);
    border-radius: var(--border-radius);
    padding: 16px;
}

.road-temp-wrapper, .ambient-temp-wrapper {
    border-radius: 12px;
}

/* Scrollbar */
/* Transparent Scrollbars for all elements */
* {
    --sb-track-color: transparent;
    --sb-thumb-color: rgba(var(--overlay-color), 0.2);
    --sb-size: 8px;
}

*::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 2px solid var(--sb-track-color);
}

::-webkit-resizer {
    border: 6px solid var(--base-color);
    border-radius: var(--border-radius);
    background: var(--base-color);
    box-shadow: none;
    outline: var(--base-border);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(var(--overlay-color), calc(var(--overlay-opacity) * 4));
}

/* Fallback for non-WebKit browsers */
@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        scrollbar-width: thin;
    }
}

/* Animations */
@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 500px; /* Adjust based on your dropdown content */
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        max-height: 500px;
    }
    to {
        opacity: 0;
        max-height: 0;
    }
}